[alias]
	co = checkout
	cm = commit -m
	s = status
	pl = pull
	plf = pull --ff-only
	plr = pull --rebase
	ps = push
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  d = diff
  dn = diff --name-only
	a = add
	aa = add .
	ca = commit --amend
	ss = status --short
	ds = diff --cached
	b = branch
	f = fetch
	fa = fetch --all
	st = stash
	stl = stash list
	sts = stash show
[core]
	pager = less
